
app-simple-form 
    padding: 2px;

a.active {
    font-weight: bold;
}

nav a {
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
}

nav a:hover
    text-decoration: underline;
    text-decoration-style: dotted;

